
/*P{
display:none;
padding:25px;
background-color:green;
}
div:hover p{

display:block;
}
p::first-letter{
color:color:#ff0000;
font-size:xx-large;
}
p::first-line{
color:#0000ff;
font-variant:small-caps;
}*/
div{
background-color:#4CAF50;
padding:10px;
}
div.first{
opacity:0.9;
filter:alpha(oopacity=10);
}
h1::before{
content:url(giphy.webp)
}
div{
background:rgb(76
