h1{
color:red;
text-align:center;
letter-spacing:3px;
}
p.ex1{
direction:rtl;
letter-spacing:3px;
word-spacing:80px;
}
p{
text-indent:50px;
}
h2{
text-decoration:line-through;
}
h3{
text-decoration:underline;
}
